torch>=1.1.0
numpy>=0.13
scipy>=1.2.0
scikit-learn>=0.17
catboost==0.12.2
xgboost==0.81
matplotlib
tqdm
tensorboardX
pandas
prefetch_generator
https://github.com/facebookresearch/qhoptim/archive/master.zip
